<section class="app-download">
    <div class="container">
        <div class="center-phones">
            <div class="phone-screen">
                <img src="images/logos/phones.png" alt="Image of companys app on a phone screen">
            </div>

            <div class="any-service">
                <h1>Download Our App<br> for Any Devices:</h1>
                <div class="app-store">
                    <div class="editor-choice">
                        <p>App Store</p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <h3>Editor's Choice</h3>
                        <p id="ratings">rating 4.7, 187K+ reviews</p>
                    </div>
                    <a href="home.html">
                        <img src="images/logos/appstore.png" alt="App store link">
                    </a>
                </div>

                <div class="google-play">
                    <div class="app-of-day">
                        <p>Google Play</p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <h3>App of the Day</h3>
                        <p id="ratings">rating 4.8, 30K+ reviews</p>
                    </div>
                    <a href="home.html">
                        <img src="images/logos/googleplay.png" alt="Google play link">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>