<section class="task-management">
    <div class="container">
        <div class="management-headline">
            <h1>Task Management<br> Assistant You<br> Gonna Love</h1>
            <p>We offer you a new generation of task management system.<br> Plan, manage & track all your tasks in one flexible tool.</p>
            <button class="btn-get-started">
            @if (SignInManager.IsSignedIn(User))
            {
                <a asp-action="Home" asp-controller="Default">Get started for free</a>
            }
            else
            {
                <a asp-action="SignIn" asp-controller="Auth"><i class="fa-regular fa-arrow-right-to-bracket"></i>Get started for free</a>
            }
            </button>
            <h5>Largest companies use our tool to work efficiently</h5>
            <div class="company-logos">
                <img src="~/images/logos/logoipsum1.svg" alt="Icon of logosum">
                <img src="~/images/logos/logoipsum2.svg" alt="Icon of logosum">
                <img src="~/images/logos/logoipsum3.svg" alt="Icon of logosum">
                <img src="~/images/logos/logoipsum4.svg" alt="Icon of logosum">
            </div>
        </div>
        <div class="task-image">
            <img src="images/logos/task-image.jpg" alt="">
        </div>
    </div>
</section>