<section class="work-tools">
    <div class="container">

        <div class="tools-headline">
            <h1>Integrate Top Work Tools</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus<br> facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        </div>

        <div class="integrate-tools">
            <div class="tool-box">
                <img src="images/icons/google.svg" alt="">
                <p>Lorem magnis pretium sed<br> curabitur nunc facilisi nunc cursus<br> sagittis.</p>
            </div>

            <div class="tool-box">
                <img src="images/icons/zoom.svg" alt="">
                <p>In eget a mauris quis. Tortor dui<br> tempus quis integer est sit<br> natoque placerat dolor.</p>
            </div>

            <div class="tool-box">
                <img src="images/icons/slack.svg" alt="">
                <p>Id mollis consectetur congue<br> egestas egestas suspendisse<br> blandit justo.</p>
            </div>

            <div class="tool-box">
                <img src="images/icons/gmail.svg" alt="">
                <p>Rutrum interdum tortor, sed at<br> nulla. A cursus bibendum elit purus<br> cras praesent.</p>
            </div>

            <div class="tool-box">
                <img src="images/icons/trello.svg" alt="">
                <p>Congue pellentesque amet, viverra<br> curabitur quam diam scelerisque<br> fermentum urna.</p>
            </div>

            <div class="tool-box">
                <img src="images/icons/mailchimp.svg" alt="">
                <p>A elementum, imperdiet enim,<br> pretium etiam facilisi in aenean<br> quam mauris.</p>
            </div>

            <div class="tool-box">
                <img src="images/icons/dropbox.svg" alt="">
                <p>Ut in turpis consequat odio diam<br> lectus elementum. Est faucibus<br> blandit platea.</p>
            </div>

            <div class="tool-box">
                <img src="images/icons/evernote.svg" alt="">
                <p>Faucibus cursus maecenas lorem<br> cursus nibh. Sociis sit risus id. Sit<br> facilisis dolor arcu.</p>
            </div>
        </div>
    </div>
</section>